.footer{
    background-color: $grisOscuro;
    padding: $separacion / 2 0;
    


    .contenido-footer{
        padding-top: $separacion / 2;
    }
    .coppyright{
        color:$blanco;
        text-align: center;
    }
}